## Model Training

### Importing required libraries

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
#modeling
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.svm import SVR
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

### import CSV as Datafreame

In [3]:
df = pd.read_csv('data/stud.csv')

### preparing X and y variables

In [4]:
X = df.drop(columns=['math_score','reading_score','writing_score'],axis=1)

In [5]:
y=(df['math_score']+df['reading_score']+df['writing_score'])/3

In [6]:
X

     gender race_ethnicity  ...         lunch test_preparation_course
0    female        group B  ...      standard                    none
1    female        group C  ...      standard               completed
2    female        group B  ...      standard                    none
3      male        group A  ...  free/reduced                    none
4      male        group C  ...      standard                    none
..      ...            ...  ...           ...                     ...
995  female        group E  ...      standard               completed
996    male        group C  ...  free/reduced                    none
997  female        group C  ...  free/reduced               completed
998  female        group D  ...      standard               completed
999  female        group D  ...  free/reduced                    none

[1000 rows x 5 columns]

In [7]:
y

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Length: 1000, dtype: float64